body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Navbar */

.icon-text {
  font-weight: 900;
  font-size: 1.5rem;
}

.container {
  margin-bottom: -12px;
}

.nav-font {
  font-size: 12px;
}

.nav-link:hover {
  color: #40b8ff !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* Media Queries for Navbar */

@media (max-width: 992px) {
  .container {
    margin-bottom: 0px;
  }
}

/* Hero Section */

.hero-section {
  background: linear-gradient(to right, #3092dc, #42ceff);
}

.hero-heading {
  font-size: 4rem;
}

.hero-btn {
  font-size: 14px;
  font-weight: 700;
  border-radius: 25px;
}

.hero-btn:hover {
  background-color: #3092dc;
  color: white;
}

/* Media Queries for Hero section */

@media (max-width: 1115px) {
  .hero-heading {
    font-size: 3rem;
  }
}

@media (max-width: 992px) {
  .hero-section {
    text-align: center;
  }

  .col-lg {
    margin-bottom: 2.5rem;
  }

  .hero-image {
    width: 50% !important;
  }

  .hero-heading {
    font-size: 3.5rem;
  }
}

/* Service Section */

.service-head {
  text-align: center;
}

.service-heading {
  width: 55%;
}

.service-icons:hover {
  color: #40b8ff;
}

/* Media Queries for Service section */

@media (max-width: 992px) {
  .service-para {
    width: 40%;
  }
}

@media (max-width: 706px) {
  .service-para {
    width: 90%;
  }

  .service-heading {
    width: 90%;
  }
}

/* Interior Section */

.interior {
  background-color: #f9f9ff;
}

.interior-btn {
  background-color: #3092dc;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 700;
  color: white;
  border: 1px solid rgb(150, 146, 146);
}

.interior-btn:hover {
  background-color: #fff;
  color: black !important;
}

.interior-heading {
  font-size: 3.6vw !important;
}

.interior-para {
  font-size: 1.2vw !important;
}

.interior-image {
  width: 90%;
}

/* Media Queries for Interior section */

@media (max-width: 992px) {
  .interior {
    text-align: center;
  }

  .interior-heading {
    font-size: 5vw !important;
    word-wrap: normal;
  }

  .interior-para {
    font-size: 2vw !important;
    width: 100%;
    padding: 20px 0;
    word-wrap: normal;
  }
}

/* Features Section */

.feature-content {
  background-color: #f9f9ff;
  cursor: pointer;
}

.content-heading {
  transition: 0.2s ease;
}

.feature-content:hover {
  background: linear-gradient(to right, #3eabff, #42ceff);
  color: white;
  box-shadow: 5px 5px 15px rgb(157, 157, 157);
}

/* Video Section */

.video-section {
  background-image: url(images/queens-gambit.jpg);
  background-size: cover;
  height: 75vh;
}

.video-container {
  position: relative;
}

.overlay {
  background-color: rgba(66, 209, 255, 0.5);
  height: 75vh;
  position: absolute;
  bottom: 0;
}

.overlay>a {
  font-size: 5rem;
  top: 40%;
  left: 48%;
}

/* Feature-Carousel Section */

.carousel-item {
  height: 70vh;
}

.carouselOne {
  background-image: url(images/nasa--hI5dX2ObAs-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.carouselTwo {
  background-image: url(images/eberhard-grossgasteiger-cs0sK0gzqCU-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.carouselThree {
  background-image: url(images/kristopher-roller-zepnJQycr4U-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.carousel-qoute {
  top: 40%;
  left: 30%;
  font-size: 2vw;
}

/* Media Queries for Carousel Section */

@media (max-width: 900px) {
  .carousel-item {
    height: 40vh;
    font-size: 3vw;
  }
}

/* Payment Plans */

#pricing {
  background-color: #f9f9ff;
}

.card-btn {
  background-color: black;
  color: #fff;
  border-radius: 0;
  font-weight: 600;
}

.card-btn:hover {
  border: 1px solid black;
}

.card {
  transition: 0.1s;
}

.card:hover {
  background: linear-gradient(to right, #3197e6, #4bcfff);
  cursor: pointer;
  color: white;
  box-shadow: 1px 0.5rem 1rem gray;
}

.card:hover .card-btn {
  background-color: white;
  color: black;
}

/* Media Queries for Payment Plans */

@media (max-width: 992px) {
  .payment-card {
    text-align: center;
    margin: 1.25rem 0;
  }

  .card-heading-txt {
    text-align: left;
  }
}

/* FAQ Section */

.faq-figures>h2 {
  color: #42d0ff;
}

/* Media Queries for FAQ Section */

@media (max-width: 767px) {
  .faq-figures {
    text-align: center !important;
  }

  .faq-txt {
    text-align: center;
  }
}

/* Download Section */

.download {
  background: linear-gradient(to right, #39a2f2, #4bcfff);
}

.download-btn {
  transition: 0.3s ease;
}

.download-btn>i {
  color: #40b8ff;
}

.download-btn:hover {
  background-color: #40b7ff !important;
  color: white;
  border: 1px solid white;
}

.download-btn:hover .download-icon {
  color: white;
}

.download-btn>span>p {
  font-size: 13px;
  text-align: left;
}

/* Media Queries of Download Section */

@media (max-width: 991px) {
  .download-btn-container {
    display: flex;
    justify-content: center;
  }

  .download-btn-container:last-child {
    margin-top: 2rem;
  }
}

/* Footer Section */

.footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu>a {
  font-size: 15px !important;
  font-weight: normal;
}

.newsletter-column>p {
  font-size: 15px !important;
}

.newsletter-column-email:focus {
  outline: none;
}

.footer-menu>a:hover {
  color: #42d1ff !important;
}

.footer-btn {
  background: linear-gradient(to right, #39a2f2, #4bcfff);
}

.footer-btn:hover .arrow-icon {
  position: relative;
  left: 10px;
}

.copyright-color {
  color: #44bcfa;
}

.footer-icon {
  background-color: #000;
}

.footer-icon:hover {
  background: linear-gradient(to right, #3ea7ff, #42d1ff);
}

/* Media Queries for Footer Section */

@media (max-width: 991px) {
  .footer {
    padding: 3rem 5rem;
  }

  .product-column {
    padding: 1rem;
  }

  .newsletter-column {
    padding: 1rem;
  }

  .gallery-column {
    padding: 1rem;
  }

  .footer-icon-section {
    width: 100% !important;
    left: 0;
  }
}